<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список прочитанных книг</title>
<style>
body {
font-family: Impact;
margin: 10;
padding: 0;
}

header {
background-color: #110;
color: #fff;
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

</style>
</head>
<body>
<header>
<a>Список прочитанных книг</a>
</header>
<p>
Введите название прочитанной книги:
</p>
<form method="post" action="/add_book">
    <input type="text" name="author">
    <input type="text" name="book">
    <button type="submit">Добавить книгу</button>
</form>

<h3>Прочитанные книги</h3>
{% for message in messages %}
<div><i>{{ message.text }}
    {% for book in message.books %}
        {{ book.text }}</i>
    {% endfor %}
</div>
{% endfor %}

</body>
</html>
